.main-container {
  margin-top: 320px;
 height: calc(100vh - 320px);
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

.intro,
.about-me,
.resume,
.projects,
.contact {
  scroll-snap-align: start;
  height: calc(100vh - 320px);
}
.chart-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 280px;
  z-index: 1000;
  
}

.chart {
  position: absolute;
  top: 80px; /* Adjusted to give space for the header */
  left: 0;
  width: 100%;
  height: 100%;
  
}

.header {
  margin-left: 10px;
  margin-top: 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 500px;
  height: 30px;
  display: flex;
  z-index: 1001; 
 
}

.price-trend-container {
  display: flex;
  gap: 10px; 
  align-items: flex-end;
  margin-left: 10px;
  width: 500px;
}

.price, .trend {
  margin-top: 30px; /* Reset default margin for h1 and h2 */
  vertical-align: text-bottom; /* Align the bottom of the text */
}

.green {
  color: green;
}

.grey {
  color: #808080;
}

body {
  font-family: 'Roboto', sans-serif;
}

.custom-height{
  height: calc(100vh - 320px);
}

#icon {
  text-align: center;
}

.intro.section .badge.bg-danger {
  background-color: #808080 !important;
}
